
game/d3d11.h
game/d3d8.h
game/d3d8.lib
game/d3d8caps.h
game/d3d8types.h
game/d3d9.h
game/d3dx10.h
game/d3dx10.lib
game/d3dx10async.h
game/d3dx10core.h
game/d3dx10math.h
game/d3dx10math.inl
game/d3dx10mesh.h
game/d3dx10tex.h
game/d3dx11.h
game/d3dx11.lib
game/d3dx11async.h
game/d3dx11core.h
game/d3dx11tex.h
game/d3dx8.h
game/d3dx8.lib
game/d3dx8core.h
game/d3dx8effect.h
game/d3dx8math.h
game/d3dx8math.inl
game/d3dx8mesh.h
game/d3dx8shape.h
game/d3dx8tex.h
game/d3dx9.h
game/d3dx9.lib
game/d3dx9anim.h
game/d3dx9core.h
game/d3dx9effect.h
game/d3dx9math.h
game/d3dx9math.inl
game/d3dx9mesh.h
game/d3dx9shader.h
game/d3dx9shape.h
game/d3dx9tex.h
game/dx7.h
data/temp/0x00000000
data/temp/0x00000001
data/temp/0x00000002
dx7.lib
